body{background-color: #efefef;margin: 0;padding: 0;
font-family: 'Scheherazade New', serif;color: black;
}

.body{animation: bodyBg 8s 1;background-color: #121212;
color: lightgray;background-image: url();}


#designed{right: 0;bottom: 0;width: 500px;height: 300px;background-color: white;
position: fixed;}

#designed .closeDesigned{color: red;cursor: pointer;
font-size: 30px;}

#designed h1 {color: black;font-size: 30px;text-align: center;
margin-top: 50px;}

#designed button{width: 100%;height: 100%;margin-top: 50px;}

.hi {background-color: red;}

.main {background-color: red;}

@keyframes bodyBg{
0%{color: white;}
100%{color: white;}
}


/*top nav style*/

.logo {display: inline-block;width: 140px;height: 100px;
background-image: url(https://pngimage.net/wp-content/uploads/2018/06/technology-logo-design-png.png);
background-repeat: no-repeat;background-position: center;
background-size: 100px 100px;margin-left: 55px;}

#sign{float: right;margin-right: 25px;margin-top: 20px;}

#sign{padding-right: 10px;cursor: pointer;color: darkgray;
font-family: 'Jomhuria', cursive;font-size: 13px;}

.sign-up{border: solid 2px #151515;text-align: center;
width: 100px;height: 30px;background-color: #262626;
}


.sign-in{height: 30px;background-color: transparent;
border: solid 1px #151515;width: 100px;}

.sign-in:hover{background: #262626;}

nav{background-color: white;position: static;width: 100%;
right: 0;}

.nav{background-color: #262626;background-image: url();}


#top-nav {width: 100%; height: 40px;background-color: ;
right: 0;}

.dropdown-container{margin-left: 15px;margin-top: 10px;}

.dropdown-container:hover #dropdown-icon{
	transform: rotate(180deg);
}

#dropdown-btn {font-size: 25px;padding-left: 0;
cursor: pointer;background-color: #191919;width: 150px;
text-align: center;color: white;margin-top: 5px;}


#dropdown{display: none;position: absolute;background: #151515;
width: 150px;height: auto;text-align: center;
animation: dropdown 0.5s 1;transition: 0.5s;}


@keyframes dropdown{

0%{opacity: -5;height: 0;}
100%{opacity: 1;height: auto;}


}

#side-nav {width: 250px;right: 0;position: fixed;
bottom: 0;top: 0;background-color: #121212;height: 100%;
animation: side-nav 1s 1;width: 250px;
box-shadow:  0 5px 1px aqua;}

.side-nav{display: none;}

.show-side{display: block;}

.side-nav-content{float: right;
width: 100%;color: white;text-align: right;
font-size: 25px;cursor: pointer;}

.side-nav-content:hover{background-color: #ffffff19;}
.side-nav-content i{float: left;font-size: 30px;}
.side-search{margin-bottom: 20px;float: right;width: 100%;
height: 40px;border: none;border-bottom: solid 2px white;
background-color: #00000077;text-align: right;}

@keyframes side-nav{
0%{margin-right: -500px;display: none;}
100%{margin-right: 0;}

}




.dropdown-content{text-decoration: none;
font-size: 17px;padding-top: 5px;padding-bottom: 15px;
cursor: pointer;list-style: none;}

.dropdown-content:hover{background-color: #ffffff19;}

#dropdown-btn:hover>#dropdown{display: block;}


.instagram{background: linear-gradient(44deg,purple,crimson,darkorange);
color: black;text-shadow: 0 1px 3px black;}

.facebook{background-color: #2727a4;color: white;
text-shadow: 0 1px 3px black;}

.twitter{background: linear-gradient(44deg,aqua,lightblue);
color: cornflowerblue;text-shadow: 0 1px 3px black;}

.side-title {margin-bottom: 15px;
justify-content: center;display:;}

.side-nav-content{list-style: none;float: right;
width: 100%;margin-bottom: 33px;cursor: pointer;}

.side-nav-content:hover{background-color: #00000019;}

@keyframes sideNav{
0%{width: 0;right: -150px;}
100%{width: 250px;right: 0;}


}



.bars {display: inline-block;width: 40px;height: 40px;
background-image: url(bars.jpg);background-repeat: no-repeat;
background-size: 40px 40px;background-position: center;
float: right;margin-right: 10px;cursor: pointer;}

#main{margin-right: 10px;background-color: #161616;color: white;
border-radius: 18px}

#main:hover{border-bottom: none;text-decoration: none;}

.top-nav-content{float: right;padding: 0px 15px;font-size: 25px;
font-family: 'El Messiri', sans-serif;cursor: pointer;height: 40px;}

.top-nav-content:hover{text-decoration: underline;
	text-decoration-color: #161616;
transition: 0.5s;}

.dark-btn {background-color: black;width: 70px;height: 30px;
border-radius: 25px;margin-top: 10px;position: absolute;
cursor: pointer;}

.btn-anim{height: 100%;border-radius: 100%;
width: 30px;background-color: white;cursor: pointer;}




.may {width: 100%;border-bottom: solid 1px #161616;
background-color: ;height: 30px;}

.may-content{float: right;padding-right: 10px; padding-top:5px;position: static;
text-decoration: none;color:darkgray;font-family: 'Markazi Text', serif;
background-color: transparent;}

#may2{display: none;}

#may3{display: none;}

#may4{display: none;}

#may5{display: none;}

/*top nav media*/


/*phones*/
@media only screen and (max-width: 400px){

.shortcuts{display: none;}
.may{display: none;}
.bars{font-size: 5px;}
#sign{display: none;}
logo{justify-content: center;display: flex;}
}


@media only screen and (max-width: 414px){

.shortcuts{display: none;}
.may{display: none;}
.bars{font-size: 5px;}
#sign{display: none;}
logo{justify-content: center;display: flex;}
}



@media only screen and (max-width: 412px){
.search-inp{}
.shortcuts{display: none;}
.may{display: none;}
.bars{font-size: 5px;}
#sign{display: none;}
logo{justify-content: center;display: flex;}
}


/*end phones*/
/*ipad's*/


@media only screen and (max-width: 800px){
.dropdown-container{display: block;width: 50px;float: left;
left: 0;position: absolute;}

#dropdown-btn{width: 50px;}

#dropdown{width: 50px;}
.may{display: none;}
.bars{font-size: 5px;}
#sign{display: none;}
#top-nav{border-bottom: solid 1px black;}
.may{display: none;height: 0;}
.may-content{display: none;}
logo{justify-content: center;display: flex;}
}

@media only screen and (max-width: 600px){
	.shortcuts{display: none;}
.dropdown-container{display: none;}
.may{display: none;}
.bars{font-size: 5px;}
#sign{display: none;}
#top-nav{border-bottom: solid 1px black;}
.may{display: none;height: 0;}
.may-content{display: none;}
logo{justify-content: center;display: flex;}
}

@media only screen and (max-width: 825px){

.may{display: none;}
.bars{font-size: 5px;}
#dropdown-btn{width: 40px;}
#sign{display: none;}
#top-nav{border-bottom: solid 1px black;}
.may{display: none;height: 0;}
.may-content{display: none;}
logo{justify-content: center;display: flex;}
}


@media only screen and (max-width: 912px){
#sign{display: none;}
.bars{font-size: 5px;}
#top-nav{border-bottom: solid 1px black;}
.may{display: none;height: 0;}
.may-content{display: none;}
logo{justify-content: center;display: flex;}
#dropdown-btn{width: 40px;}
}



@media only screen and (max-width: 1050px){
#sign{display: none;}
.bars{font-size: 5px;}
#top-nav{border-bottom: solid 1px black;}
.may{display: none;height: 0;}
.may-content{display: none;}
logo{justify-content: center;display: flex;}
}


@media only screen and (max-width: 1280px){
#sign{display: none;}
.bars{font-size: 5px;}
#top-nav{border-bottom: solid 1px black;}
.may{display: none;height: 0;}
.may-content{display: none;}
logo{justify-content: center;display: flex;}
}

/*end ipad's*/




/*for pc*/
@media only screen and (min-width: 400px){
.inp-search{display: none;}

}

@media only screen and (max-width: 540px){
.inp-search{display: block;}
.bars{float: right;}
}


.inp-search{height: 40px;padding-left: 2px;border-radius: 18px;
border: solid 1px black;}





/*end*/

/*end*/

#about-us{background-image: url(3.jpg);
width: 50%;height: 500px;
background-image: red;
animation: about 28s infinite;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
clip-path: circle(240px at 50% 50%);
}

@keyframes about {
0%{right: 200px;}
10%{background-image: url(1.jpg);}
30%{background-image: url(2.jpg);left: 200px;}
50%{background-image: url(3.jpg);}
60%{background-image: url(4.jpg);left: 200px;}
80%{background-image: url(1.jpg);}
100%{background-image: url(4.jpg);left: 200px;}



}

.join-us{text-align: center;}

.sign-btn{width: 100%;height: 40px;margin-top: 150px;}

#card-area{margin-top: 25px;margin-bottom: 50px;}

#card {background-color: #e6e6e6;width: 450px;height: 450px;
box-shadow: 0 1px 2px white;display: inline-block;
margin-left: 25px;margin-right: 25px;margin-top: 15px;
margin-bottom: 150px;cursor: pointer;
}

#card:hover img{animation: skew 10s infinite;
transform:skewY(10deg);
transition: 0.5s;
transform:skewX(10deg);
transition: 0.5s;}
@keyframes skew{



10%{transform:skewY(10deg);
transition: 0.5s;}

20%{transform:skewX(10deg);
transition: 0.5s;}
30%{transform:skewY(10deg);
transition: 0.5s;}

40%{transform:skewX(10deg);
transition: 0.5s;}
50%{transform:skewY(10deg);
transition: 0.5s;}

60%{transform:skewX(10deg);
transition: 0.5s;}
7%{transform:skewY(10deg);
transition: 0.5s;}

80%{transform:skewX(10deg);
transition: 0.5s;}
90%{transform:skewY(10deg);
transition: 0.5s;}

100%{transform:skewX(10deg);
transition: 0.5s;}

}
.des{background-color: transparent;
border-bottom: solid 2px black;width: 450px;margin-top: 5px;margin-bottom: 15px;
background-color: #121212;color: white;}
.head-title{width: 100%;text-align: center;font-size: 55px;}
.card1{
background-image: url(https://pngimg.com/uploads/hacker/hacker_PNG16.png);
}

.cards{width: 400px;height: 400px;}


.card2{
background-image: url(https://cdn-icons-png.flaticon.com/512/48/48679.png);
}


.card3{
background-image: url(https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/013/138/original/programmer_5638210.png);
}

.card4{
background-image: url(https://freepikpsd.com/file/2019/10/cyber-security-icon-png-Png-Transparent-Images.png);
}

footer {text-align: center;
color: darkgray;box-shadow: 0 5px 1px white;
margin-top: 250px;width: 100%;
border-top: solid 5px black;}


.sun{background-color: white;background-image: url(sun.png);
background-repeat: no-repeat;background-position: center;
background-size: 220px 220px;width: 100%;height: 400px;
animation: sun 4s 1;}


@keyframes sun {
0%{background-position: left;}
100%{background-position: center;}


}


.moon{background-color: white;background-image: url(moon.png);
background-repeat: no-repeat;background-position: center;
background-size: 220px 220px;width: 100%;height: 400px;
animation: moon 4s 1;}


@keyframes moon {
0%{background-position: left;}
100%{background-position: center;}


}


#log-page{

width: 400px;height: 400px;
background-color: white;
margin-top: 150px;
box-shadow: 0 3px 7px black;
}

#inps {margin-bottom: 15px;margin-top: 50px;
height: 40px;width: 80%;
border: none;
border-bottom: solid 2px black;
text-align: center;}

.username {background-image: url(profile.png);
background-repeat: no-repeat;background-position: left;
background-size: 40px 40px;}


.pass {background-image: url(password.jpg);
background-repeat: no-repeat;background-position: left;
background-size: 40px 40px;}
